.selfintro {
  background-color: #FEF5ED;
  padding-top: 100px;
  font-family: fantasy;
  margin: 0 0 0 0;
}

.con {
  text-align: center;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 75px;
}

.bottom-cloud {
  position: absolute;
  left: 30%;
}



body {
  margin: 0 0 0 0;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h1{
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

.middle-container {
  background: linear-gradient(#FEF5ED,#D3E4CD);
  padding-top: 100px;
}

.bottom-container {
  background-color: #D3E4CD;
  padding-bottom: 10px;
}

.skill-row {
  display: inline-block;
  width: 50%;
  line-height: 1.5;
  margin:20px;

}



.programming {

  width: 170px;
  height: 170px;


}
.tennis{

  width: 170px;
  height: 170px;
  position: relative;
  right: 20px;
}

p{
  font-family: 'Open Sans', sans-serif;
}

/* hr {

    border-style: dotted none none;
    border-color: grey;
    border-width: 3px;
    height: 3px;
    width: 60%;
} */
hr {background-color: #FFF5EB;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    height: 5px;
    width:60%;
    margin: auto;

}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
